<section class="hero w-full my-32">
<div class="flex flex-wrap -mx-5 ">
    <div class="px-5 flex-grow mx-1/12">
        <p class="text-3xl text-center text-{{ color }}">
            {{ text|raw }}
        </p>
    </div>
</div>
</section>