
    <div class="row">
        <div class="px-5 flex-grow lg:mx-1/12">
            <p class="px-5 md:px-0 text-xl md:text-3xl xl:text-4xl font-medium text-center text-{{ color }}">
                {{ text|raw }}
            </p>
        </div>
    </div>
