<div class="w-full h-full">
    <div class="relative z-20">
        <h1 class="text-5xl highlight-wrapper" data-color="{{ color }}" data-background="{{ background }}">
            {{ title }}
        </h1>
    </div>
    <div class="relative px-6 py-12 bg-white z-10" style="transform: translate(0, -20px)">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam eligendi quisquam dolorum laudantium deserunt, corporis consequuntur aperiam odit optio architecto perspiciatis, quam quaerat hic alias. Assumenda rerum praesentium voluptas qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, odio inventore veniam quibusdam repellendus, aperiam delectus reprehenderit totam voluptate libero ut pariatur quo id! Esse obcaecati nam explicabo voluptate at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque accusantium eaque dicta possimus obcaecati repudiandae illum aliquam corrupti quaerat velit rerum minima ullam atque, vel eum tempore placeat nobis magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eius saepe ullam nulla commodi, fugiat, porro maiores dolorem delectus enim voluptatibus sunt aliquam. Quo suscipit dolore excepturi reprehenderit, totam consequuntur?</p>
    </div>
</div>
