{% extends "base.twig" %}

{% block content %}

  <section class="section text-layout py-16 lg:py-32">
    <div class="row">
      <div class="px-5 w-full md:w-10/12 md:ml-1/12 lg:w-6/12">
         
        {{ page.meta('text_layout') }}
         
      </div>
    </div>
  </section>

{% endblock %}
