.highlight-wrapper {
  color: transparent;
}

.highlight {
  line-height: 1.35em;
  animation: clip 400ms forwards ease-in;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

@keyframes clip {
	0% {
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}