{% block html_head_container %}
    {% include "header.twig" %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="max-w-5xl mt-20 mx-auto {{body_class}}" data-template="base.twig">

{% block header %}
    <nav class="nav max-w-5xl mx-auto fixed z-50 pin-t w-full flex items-end" role="navigation">
        <div class="-mx-5 w-full flex flex-wrap justify-between items-end">
            <div class="w-2/12 px-5 ml-1/12">
                <h1>Beam it Up</h1>
            </div>
            <div class="flex-grow flex items-end px-5 mr-1/12">
                {% include "components/menu.twig" with {
                    "menu" : menu.get_items
                } %}
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}
    Sorry, no content
{% endblock %}


{% block footer %}
    {{ function('wp_footer') }}
{% endblock %}

{% include "footer.twig" %}
</body>
</html>