<footer id="footer" class="w-full mt-32 py-20 overflow-x-hidden bg-green-dark text-white">
    <div class="flex flex-wrap -mx-5 text-xl pb-10">
        <div class="px-5 ml-1/12 w-6/12">
            <span class="font-bold">Contact</span>
            <ul class="list-reset">
                <li>hallo@beamitup.nl</li>
                <li>Liselotte de Groot: +31 (0)6 4349 6284</li>
                <li>Robbert Storm: +31 (0)6 1648 2115</li>
            </ul>
        </div>
        <div class="px-5 w-5/12">
            <span class="font-bold">Social</span>
            <ul class="list-reset">
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>

        </div>
    </div>
    <div class="flex flex-wrap -mx-5 text-xl pb-10">
        <div class="px-5 ml-1/12 w-6/12">
            <span class="font-bold">Locatie</span>
            <p>
                TAC ruimte 126<br>
                Gagelstraat 6a<br>
                5611BH Eindhoven
            </p>
        </div>
        <div class="px-5 w-5/12 flex items-end">
            <p>
                Privacy statement<br>
                Algemene Voorwaarden<br>
            </p>
        </div>
    </div>
    <div class="flex flex-wrap -mx-5 text-xl">
        <div class="px-5 w-5/12 ml-7/12">
            <p>
                Beam it Up©, 2019
            </p>
        </div>
    </div>
</footer>

<script src="{{ theme.link }}/dist/bundle.js"></script>