<div class="block-outer">
    <div class="block-inner square mobile-square">
        <div class="content{% if not disableParalax %} paralax-wrapper{% endif %}">
            <div class="{% if not disableParalax %}paralax {% endif %}planet rounded-full" style="background-image: url({{ theme.link }}/assets/planets/Bal_{{ image }}.png)"></div>
            </div>
        </div>
    </div>
</div>